.messages {
  overflow: auto;
  /* height: 435px; */
  /* flex-grow: 1; */
  padding: 20px;
  top: 110px;
  position: absolute;
  bottom: 60px;
  /* flex-grow: 1; */
  /* width: 83%; */
  width: 100%;
  /* min-height: 440px; */
}