.logo{
    color: #20a8d8;
    margin-left: 10px;
}

.dashboardIcon:focus{
    outline: 0px auto -webkit-focus-ring-color !important

}

.hoverDD:hover{
    color: #fff !important;
    background: transparent !important;
}

.scroll {
    height: 150px ;
    overflow: scroll!important;
    overflow-x: hidden !important;
}