.logo{
    color: #20a8d8;
    margin-left: 10px;
}

.dashboardIcon:focus{
    /* border-radius: none !important; */
    outline: 0px auto -webkit-focus-ring-color !important

}



/* hoverDD */
/* .hoverDD:hover{
    color: white;
    background: white;
}  */
.hoverDD:hover{
    color: #fff !important;
    background: transparent !important;
}